#cookie-container {
  #cookie-img-container {
    height: 100%;
    width: 100vw;
  }
  #cookie-img {
    width: 100%;
  }
  #cookie-text-container {
    margin: 5% 15%;
  }
  .title {
    font-size: 3rem;
    margin: 5% 0;
  }
  .under-title {
    font-size: 2.5rem;
  }
  .text {
    font-size: 2rem;
  }
  #text-link {
    font-size: 2rem;
  }
}
