#notfound-container {
  height: 50vh;
  width: 100%;
  text-align: center;
  #notfound-title {
    margin: 0 auto;
    padding-top: 13%;
    color: black;
    font-size: 4rem;
  }
  #lead {
    margin-top: 1%;
    font-size: 2rem;
  }
}
